.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .scrollable {
        width: 100%;
        height: calc(100vh - 0px);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        .layout-content {
            width: 982px;
            flex-grow: 1;
            background-color: gray;
        }
        .authentication {
            font-size: 12px;
            width: 982px;
            display: flex;
            justify-content: space-between;
            color: rgb(85, 83, 83);
            height: 170px;
            .link {
                margin-top: 8px;
                p {
                    padding: 4px;
                }
            }
        }
    }
    .footer {
        position: fixed;
        height: 60px;
    }
}