.discover {
    width: 100%;
    // position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: auto;
    .discover-nav {
        // display: none;
        position: absolute;
        background-color: rgb(58, 61, 61);
        width: calc(100vw);
        height: 315px;
        // left: 0;
        top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .nav-bar {
            height: 30px;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: baseline;
            background-color: #C20C0C;
            border-bottom: 1px solid #a40011;
            font-size: 12px;
            color: white;
            li {
                padding: 0px 12px;
                box-sizing: border-box;
                margin-top: 2px;
                line-height: 20px;
                height: 21px;
                cursor: pointer;
                &:not(:last-of-type) {
                    margin-right: 50px;
                }
                &:hover {
                    background-color: #9B0909;
                    border-radius: 10px;
                }
                &.selected {
                    background-color: #9B0909;
                    border-radius: 10px;
                }
            }
        }
        .banner-content {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .discover-content {
        margin-top: 315px;
        width: 100%;
        flex-grow: 1;
    }
}